.level-menu-container {
    position: fixed;
    display: flex;
    flex-direction: row;
    top: 0%;
    left: 0%;
    height: 65vh;
    width: 25vw;
    transform: translateY(10%);
    align-items: center;
    z-index: 3;
}

.panel-container {
    position: relative;
    height: 70vh;
    width: 32vw;
    z-index: 1;
    transition-duration: 1s;
    z-index: 3;
}

.panel-img {
    position: relative;
    height: 100%;
    width: 100%;
    transition-duration: 1s;
    z-index: 3;
}

.panel-content {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 0;
    left: 0;
    margin: 5% 10% 5% 10%;
    z-index: 2;
    height: 93%;
    width: 80%;
    color: rgb(10, 22, 71);
    z-index: 3;
}

.panel-header {
    margin-left: auto;
    margin-right: auto;
}

.left-box {
    padding: 10px;
    padding-left: 15px;
    border-radius: 5px;
    border: 3px solid rgb(17, 35, 112);
    background: #455EDE;
    width: 11%;
    height:100px;
    margin-left: -5px;
    transition-duration: 1s;
}

.left {
    height: 100%;
    width: 100%;
}

.left-box:hover {
    background: #606fbe;
    cursor: pointer;
}

.headers {
    display: flex;
    flex-direction: row;
}

.coins-headers {
    margin-top: 5%;

}

.coin-img-box {
    margin-top: -3px;
    margin-left: 5px;
    height: 30px;
    width: 30px;
}

.coin-img {
    height: 100%;
    width: 100%;
}

.p1 {
    margin-top: 0%;
    margin-bottom: 0%;
    font-size: 20px;
    margin-right: auto;
}

.p2 {
    margin-top: 0%;
    margin-bottom: 0%;
    font-size: 20px;
}

.allocate-box {
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
}

.level-up, .level-down {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 2vw;
    height: 3vh;
    margin: 5% 2% 10% 2%;
}


.point-value {
    font-size: 20px;
    font-weight: bold;
    margin: 0% 10% 5% 10%;

}

.level-up-img, .level-down-img {
    position: absolute;
    width: 100%;
    height:100%;
}

.level-up-img:hover {
    content: url('../art/Buttons/Adjust_Up_Button_02.png');
    cursor: pointer;
}

.level-up-img:active {
    content: url('../art/Buttons/Adjust_Up_Button_03.png');
}

.level-down-img:hover {
    content: url('../art/Buttons/Adjust_Down_Button_02.png');
    cursor: pointer;
}

.level-down-img:active {
    content: url('../art/Buttons/Adjust_Down_Button_03.png');
}

.buy-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 8%;
}

.buy-point {
    text-wrap: nowrap;
    color: rgb(10, 20, 70);
    background: #576ddb;
    padding: 3% 6% 3% 6%;
    font-family: 'Welbut';
    font-size: 18px;
    border: 3px outset rgb(17, 35, 112);
    border-radius: 5px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, .4); 
}

.cost-header {
    font-size: 20px;
}

.buy-point:hover {
    cursor: pointer;
    background: #6072cf;
}

.buy-point:active {
    box-shadow: none;
}

.cost-header {
    margin-left: auto;
}

.no-press {
    opacity: 0.5;
    pointer-events: none;
}
