@font-face {
  font-family: "Welbut";
  src: local("Wellbut"),
    url("./fonts/Welbut__.ttf") format("truetype");
}

#root {
  font-family: Welbut;
}

body {
  overflow-y: hidden;
  display: flex;
  flex-direction: column-reverse;
  margin: 0px;
  overflow-x: hidden;
}

.collapse {
  transform: translateX(-22vw);
  transition-duration: 1s;
}

.rotate {
  transform: rotate(180deg);
}

.hidden {
  visibility: hidden;
}



